/* 页脚透明 */

#footer {
    background: transparent !important;
}

/*文章透明*/

.layout_post>#post {
    background: rgba(255, 255, 255, .5);
}

#web_bg {
    background: -webkit-linear-gradient(to bottom, #fad0c4 0%, #ffd1ff 100%);
    background: -moz-linear-gradient(to bottom, #fad0c4 0%, #ffd1ff 100%);
    background: -o-linear-gradient(to bottom, #fad0c4 0%, #ffd1ff 100%);
    background: -ms-linear-gradient(to bottom, #fad0c4 0%, #ffd1ff 100%);
   background-image: linear-gradient(to bottom, #fad0c4 0%, #ffd1ff 100%);
}

